html, body, section {
    height: 100%;
    margin: 0px;
    padding: 0px;
    user-select: none;
}

#full-row {
    position: absolute;
    top: -23px;
    height: 64px;
    width: 66px;
    /* background: red; */
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.2s ease;
}
#full-row > div {
    width: 40px;
    height: 26px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    margin-left: 11px;
}
#full-row:hover {
    top: 0px;
}
#full-row:before {
    content: ' \25CF';
    font-size: 92px;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    /* transform: translateY(-50%); */
    top: -50px;
    left: 4px;
    margin-top: -5px;
}
#full-row:after {
    content: "^";
    position: absolute;
    color: rgba(123, 123, 123, 0.31);
    font-family: 'Montserrat', sans-serif;
    font-size: 31px;
    left: 23px;
    transform: rotate(180deg);
    top: -8px;
}
#full-row:hover:after {
    color: rgba(193, 193, 193, 0.2);
}

#row-expand {
    position: absolute;
    bottom: -22px;
    height: 64px;
    width: 66px;
    /* background: red; */
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 0.2s ease;
}
#row-expand > div {
    width: 40px;
    height: 27px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    margin-top: 39px;
    margin-left: 12px;
}
#row-expand:hover {
    bottom: 0px;
}
#row-expand:before {
    content: ' \25CF';
    font-size: 92px;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
    top: 61px;
    left: 4px;
    margin-top: -5px;
}
#row-expand:after {
    content: "^";
    position: absolute;
    color: rgba(123, 123, 123, 0.31);
    font-family: 'Montserrat', sans-serif;
    font-size: 31px;
    left: 24px;
    transform: translateY(-50%);
    top: 85%;
}
#row-expand:hover:after {
    color: rgba(193, 193, 193, 0.2);
}


#full-col {
    position: absolute;
    top: 50%;
    height: 66px;
    width: 64px;
    /* background: red; */
    left: -23px;
    transform: translateY(-50%);
    transition: left 0.2s ease;
}
#full-col > div {
    width: 23px;
    height: 40px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    margin-top: 13px;
}
#full-col:hover {
    left: 0px;
}
#full-col:before {
    content: ' \25CF';
    font-size: 92px;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
    top: 50%;
    left: -25px;
    margin-top: -5px;
}
#full-col:after {
    content: ">";
    position: absolute;
    color: rgba(123, 123, 123, 0.31);
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    left: 3px;
    transform: translateY(-50%);
    top: 50%;
}
#full-col:hover:after {
    color: rgba(193, 193, 193, 0.2);
}

#col-expand {
    position: absolute;
    top: 50%;
    height: 66px;
    width: 64px;
    right: -22px;
    transform: translateY(-50%);
    transition: right 0.2s ease;
}
#col-expand > div {
    width: 23px;
    margin-left: 42px;
    height: 40px;
    margin-top: 14px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
#col-expand:hover {
    right: 0px;
}
#col-expand:before {
    content: ' \25CF';
    font-size: 92px;
    position: absolute;
    right: -26px;
    color: rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
    top: 50%;
    margin-top: -5px;
}
#col-expand:after {
    content: "<";
    position: absolute;
    right: 1px;
    color: rgba(123, 123, 123, 0.31);
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    transform: translateY(-50%);
    top: 50%;
}
#col-expand:hover:after {
    color: rgba(193, 193, 193, 0.2);
}

.window {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    grid-template-areas: "first";
}

.top-bottom {
    /*grid-template-rows: 50% 10px auto;*/
    grid-template-areas: "first" "seperator" "last";
}

.left-right {
    /*grid-template-columns: 50% 10px auto;*/
    grid-template-areas: "first seperator last";
}

.first {
    grid-area: first;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    font-family: Calibri;
    background: url('https://i.stack.imgur.com/GKpHa.png');
    background: url('https://image.ibb.co/f1RAXF/background.png');
}
.last {
    background-color: rgb(57, 57, 57);
}
.last {
    grid-area: last;
    position: relative;
    overflow: hidden;
}

.separator {
    background: white;
}

.top-bottom > .separator {
    cursor: row-resize;
}
.left-right > .separator {
    cursor: col-resize;
    z-index: 2;
}
