.rightblock, .leftblock {
    background-color: red
}

body {
    user-select: none;
    cursor: default;
    overflow: hidden;
}
.compileButton {
    z-index: 2;
    position: absolute;
    top: 121px;
    left: 450px;
    height: 39px;
    width: 126px;
    font-size: 17px;
    font-family: Calibri;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
    box-sizing: content-box;
}
.compileButton:hover {
    background-color: rgba(128, 128, 128, 0.36);
}
.nodeAdd:after {
    content: "+";
    position: absolute;
    font-size: 135px;
    color: rgba(0, 0, 0, 0.62);
    line-height: 14px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%);
}
body,
svg {
    margin: 0px;
    padding: 0px;
}
svg {
    width: 100%;
    height: 100%;
}

.objects {
    background: url('https://image.ibb.co/f1RAXF/background.png');
    font-weight: 500;
    font-family: Calibri;
    position: absolute;
    width: 100%;
    height: 100%;
}

.signature {
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border: thick dotted transparent;
}
.signature.s-right {
    right: 0;
    font-weight: 900;
    font-size: 57px;
    color: rgba(0, 0, 0, 0.37);
    width: 363px;
    padding: 10px 17px;
}
.signature.s-left {
    font-weight: 900;
    font-size: 44px;
    color: rgba(0, 0, 0, 0.37);
    padding: 17px 30px;
}
.dock,
.snapDock {
    background-color: #c06;
    height: 12px;
    width: 12px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    position: absolute;
    top: 14px;
    border: 0.05em solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    z-index: 1;
}
.snapDock {
    z-index: 2;
    width: 30px;
    height: 30px;
    top: 4px;
    background-color: rgba(111, 111, 111, 0);
    cursor: copy;
    cursor: pointer;
    border-color: rgba(111, 111, 111, 0);
}
.rightblock,
.leftblock {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}
.data.right > .dock {
    right: -6px;
}
.data.right > .snapDock {
    right: -14.5px;
}
.data.left > .dock {
    left: -5px;
    background-color: green;
}
.data.left > .snapDock {
    left: -14px;
}
.paramName {
    vertical-align: middle;
    width: 41px;
}
.data.right {
    text-align: right;
}
.data {
    padding-right: 0px;
    height: 25px;
    line-height: 25px;
    margin: auto;
    position: relative;
    padding: 7px 15px;
}
.container#selected {
    border: 1px solid rgba(0, 128, 0, 0.68);
}
.container {
    width: 124px;
    z-index: 1;
    border-radius: 12px;
    position: absolute;
    border: 1px solid rgba(23, 22, 22, 0.4);
}
.header {
    border-radius: 12px 12px 0px 0px;
    background-color: rgba(78, 75, 80, 0.4);
    position: relative;
    cursor: move;
    z-index: 1;
    line-height: 23px;
}
.headerTitle {
    text-align: center;
    width: 100%;
    position: absolute;
}
.body {
    background-color: rgba(111, 111, 111, 0.4);
    border-radius: 0px 0px 12px 12px;
    padding-top: 6px;
    /* padding-bottom: 6px; */
    position: relative;
}

.paramContainer {
    text-align: center;
    width: 31px;
    margin: auto;
}
.paramContainer > input {
    text-align: center;
    padding: 0;
    border-width: 0px;
    line-height: 25px;
    font-size: 15px;
    font-family: Arial;
    font-weight: 500;
    border-radius: 0px;
    background-color: rgba(111, 111, 111, 0.02);
    width: 31px;
    border: 2px solid transparent;
}
.paramContainer > input:valid {
    border: 2px solid rgba(30, 29, 29, 0.52);
}
