/* generic */

.hidden {
    display: none;
}

/* */

/*input:focus {
  outline: none;
}*/
input:focus, textarea:focus, select:focus {
  outline-offset: 0px;
}

path {
    fill: none;
    pointer-events: visible;
}

body {
    user-select: none;
    cursor: default;
    overflow: hidden;
}

.body > .bodybefore { /* not using ::before with content, we need to access it's value with JS */
  content: "+";
  position:  absolute;
  font-size: 6em;
  left: 50%;
  transform: translate(-50%);
  bottom: 50%;
  height: 61px;
  color: #00000042;
}

.compileButton {
    z-index: 2;
    position: absolute;
    top: 121px;
    left: 450px;
    height: 39px;
    width: 126px;
    font-size: 17px;
    font-family: Calibri;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
    box-sizing: content-box;
}
.compileButton:hover {
    background-color: rgba(128, 128, 128, 0.36);
}
.nodeAdd:after {
    content: "+";
    position: absolute;
    font-size: 135px;
    color: rgba(0, 0, 0, 0.62);
    line-height: 14px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%);
}
body,
svg {
    margin: 0px;
    padding: 0px;
}
svg {
    width: 100px;
    height: 100px;
    overflow:  visible;
}
.canvas {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.objects {
    /* width and height were on .canvas */
    /* width: 1500px; */
    /* height: 1500px; */
    /* width: 100%; */
    /* height: 100%; */
    font-weight: 500;
    font-family: Calibri;
    position: absolute;
    /* z-index: 2; */
}

.footer {
    pointer-events: none;
}

.signature {
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border: thick dotted transparent;
}
.signature.s-right {
    right: 0;
    font-weight: 900;
    font-size: 57px;
    color: rgba(0, 0, 0, 0.37);
    width: 363px;
    padding: 10px 17px;
}
.signature.s-left {
    font-weight: 900;
    font-size: 44px;
    color: rgba(0, 0, 0, 0.37);
    padding: 17px 30px;
}
