// .header > .header-block {
//   position: relative;
//   width: 100%;
//   bottom: calc(50% - 14px);
//   pointer-events: none;
// }

input:focus, textarea:focus, select:focus {
  outline-offset: 0px;
}

.constant > .dock {
  border-radius: 0px;
  transform: rotate(90deg);
}

/*input dock parameter*/
input.occupied {
  // background-color: rgb(81, 81, 81) !important;
  // background: linear-gradient(to top left,
  //     rgba(0,0,0,0) 0%,
  //     rgba(0,0,0,0) calc(50% - 0.8px),
  //     rgba(0,0,0,1) 50%,
  //     rgba(0,0,0,0) calc(50% + 0.8px),
  //     rgba(0,0,0,0) 100%);
  color: transparent;
}
/*
.exe > .dock {
  transition: 0.08s linear all;
}
.exe > .occupied {
  transform: rotate(0deg) !important;
}*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.var-input::placeholder {
  color: #666161;
  font-style: italic;
}

.param-container > input {
  text-align: left;
  line-height: 25px;
  font-size: 14px;
  font-family: Calibri;
  font-weight: 500;
  background-color: rgba(111, 111, 111, 0.02);
  outline: none;
  border: 1px solid #403e3e;
  border-radius: 5px;

  &:focus {
    border: 1px solid rgb(34, 33, 33);
  }
}

.left > .param-container > input {
  pointer-events: visible;
  margin-left: 12px;
  width: calc(100% - 12px);
  color: #1b1b1b;
  box-sizing: border-box;
  background-color: rgb(73, 70, 70);
  padding: 0 5px;
}

.right > .param-container > input {
  margin-right: 8px;
  width: calc(100% - 8px);
  box-sizing: border-box;
  text-align: left;
}
// .param-container > input {
//   outline: 2px auto rgba(30, 29, 29, 0.52);
// }
// .param-container > input:hover {
//   outline: #4f70a7 auto 5px;
// }
// .param-container > input::selection {
//   background-color: darkgrey;
// }