.header > .exeblock {
    position: relative;
    width: 100%;
    bottom: calc(50% - 14px);
    pointer-events: none;
}

.dock,
.snapDock {
    pointer-events: visible;
    background-color: #c06;
    height: 14px;
    width: 14px;
    border-radius: 8px;
    vertical-align: middle;
    position: absolute;
    border: 0.05em solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    z-index: 1;
}
.dock {
    cursor: pointer;
    top: calc(50% - 6px);
}

.data > .dock {
    transition: 0.5s linear all;
}
.constant > .dock {
    border-radius: 0px;
    transform: rotate(90deg);
}

input.occupied {
    /*background-color: rgb(81, 81, 81) !important;
    background: linear-gradient(to top left,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 0.8px),
        rgba(0,0,0,1) 50%,
        rgba(0,0,0,0) calc(50% + 0.8px),
        rgba(0,0,0,0) 100%); */
    color: transparent;
}
/*
.exe > .dock {
    transition: 0.08s linear all;
}
.exe > .occupied {
    transform: rotate(0deg) !important;
}*/

.snapDock {
    z-index: 3;
    width: 30px;
    height: 30px;
    background-color: rgba(111, 111, 111, 0);
    cursor: pointer;
    border-color: rgba(111, 111, 111, 0);
    top: calc(50% - 14px);
}
.rightblock,
.leftblock {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    /* pointer-events: none; */
}

.data.right > .dock, .exe.right > .dock {

}
.data.left > .dock {
    background-color: green;
}

.data.right {
    /* text-align: right; */
    /* float:  right; */
    vertical-align:  middle;
}
.data, .exe {
    height: 35px;
    line-height: 25px;
    margin: auto;
    position: relative;
    box-sizing:  border-box;
    vertical-align:  middle;
}
.exe {
}

.container.selected {
    box-shadow: 0px 0px 2px green;
    border: 1px solid rgba(0, 128, 0, 0.68);
}
.container:hover {
    /* border: 1px solid rgba(0, 128, 0, 0.68); */
}
.container {
    width: 130px;
    z-index: 1;
    border-radius: 12px;
    position: absolute;
    border: 1px solid rgba(23, 22, 22, 0.4);
    /* top: 100px; */
    /* left: 200px; */
}
.container.hideBody > .header {
    border-radius: 12px;
}
.container.hideBody > .body {
    display: none;
}

.header {
    border-radius: 12px 12px 0px 0px;
    background-color: rgb(56, 55, 56);
    position: relative;
    cursor: move;
    z-index: 1;
    height: 100%;
    line-height: 25px;
    /* padding: 4px 0px; */
}
.headerTitle {
    text-align: center;
    width: 100%;
    position:  absolute;
    margin:  auto;
    vertical-align:  middle;
    top: 50%;
    left: 50%;
    pointer-events:  none;
    transform: translate(-50%, -50%);
    font-size: 17px;
}
.body {
    background-color: rgb(81, 81, 81);
    border-radius: 0px 0px 12px 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    pointer-events: none;
}

.paramContainer {
    width:  100%;
    color: #030303;
    top: 50%;
    position:  absolute;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    /* padding: 0px 18px; */
    box-sizing:  border-box;
    /* pointer-events: visible; */
}
.paramName {
    box-sizing:  border-box;
    width: 100%;
    /* height: 100%; */
    display: inline-block;
}
.left > .paramContainer > .paramName {
    text-align: center;
    margin-left: 9px;
    margin-right: 4px;
    width: initial;
    max-width: calc(50% - 13px);
}
.right > .paramContainer > .paramName {
    text-align: right;
    padding-right: 11px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.varInput::placeholder {
    color: #666161;
    font-style: italic;
}

.left > .paramContainer > input {
    margin-left: 8px;
    width: 50%;
    box-sizing: border-box;
    border: none;
    margin: 0;
    background-color: rgb(73, 70, 70);
    /* background-color: rgb(81, 81, 81); */
    pointer-events: visible;
}
.right > .paramContainer > input {
    margin-right: 8px;
    width: calc(100% - 8px);
    box-sizing: border-box;
    text-align: left;
}
.paramContainer > input {
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    font-family: Calibri;
    font-weight: 500;
    border-radius: 0px;
    background-color: rgba(111, 111, 111, 0.02);
}
.paramContainer > input {
    outline: 2px auto rgba(30, 29, 29, 0.52);
}
.paramContainer > input:hover {
    outline: #4f70a7 auto 5px;
}
.paramContainer > input:focus {
    outline: #3d5e96 auto 5px;
}
.paramContainer > input::selection {
    background-color: darkgrey;
}
/* .paramContainer > input:valid {
    border: 2px solid rgba(30, 29, 29, 0.52);
} */
.nodes   {
    /* position: relative; */
    /* top: 100px; */
    /* left: 100px; */
    pointer-events:  visible;
}

.links {
    pointer-events:  none;
}

.execute {
    margin-right: 6px;
    margin-left: -5px;
}

.exe.left > .dock {
}
.exe.right {
}

.exe > .dock {
    /* z-index: 3; */
    transform: rotate(45deg);
    /* height: 15px; */
    /* width: 15px; */
    /* top: calc(50% - 6px); */
    background-color: #0012cc;
    border: 0.09em solid rgba(0, 0, 0, 0.5);
    border-radius:  0px;
}

/* dock positioning */
.left > .dock {
    left: -7px;
}

.left > .snapDock {
    left: -15px;
}

.right > .dock {
    right: -8px;
}

.right > .snapDock {
    right: -16px;
}

/* debug styles */
/*
.data > .snapDock {
    background: #2e00ff57;
}

.exe > .snapDock {
    background: #ff00005c;
}

.data, .exe {
    border: 1px solid grey;
}
.canvas {
    background: #537e4370;
}
.objects {
    background: #0000ff57;
}
.left > .paramContainer > .paramName, .left > .paramContainer > input {
    border: 1px solid red;
}
*/
