/* generic */

.hidden {
    display: none;
}

/* */

/*@font-face {
  font-family: Montserrat;
  src: url('Montserrat.otf') format('otf');
}*/

/* fonts */

/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat.woff2') format('woff2');
}

/* Saira */
@font-face {
  font-family: 'Saira Semi Condensed';
  src: url('Saira.woff2') format('woff2');
}

/*input:focus {
  outline: none;
}*/
html, body, section {
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* user-select: none; */
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0px;
}

path {
    fill: none;
    pointer-events: visible;
}

body {
    user-select: none;
    cursor: default;
    overflow: hidden;
}

.body > .bodybefore { /* not using ::before with content, we need to access it's value with JS */
  position:  absolute;
  font-size: 6em;
  left: 50%;
  transform: translate(-50%);
  bottom: 50%;
  height: 61px;
  width: 100%;
  color: #00000042;
  text-align: center;
}

.compileButton {
    z-index: 2;
    position: absolute;
    top: 121px;
    left: 450px;
    height: 39px;
    width: 126px;
    font-size: 17px;
    font-family: Calibri;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
    box-sizing: content-box;
}
.compileButton:hover {
    background-color: rgba(128, 128, 128, 0.36);
}
.nodeAdd:after {
    content: "+";
    position: absolute;
    font-size: 135px;
    color: rgba(0, 0, 0, 0.62);
    line-height: 14px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%);
}
body,
svg {
    margin: 0px;
    padding: 0px;
}
svg {
    width: 100px;
    height: 100px;
    overflow:  visible;
    border: 1px transparent
}
.canvas {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.objects {
    /* width and height were on .canvas */
    /* width: 1500px; */
    /* height: 1500px; */
    /* width: 100%; */
    /* height: 100%; */
    font-weight: 500;
    font-family: Calibri;
    position: absolute;
    /* z-index: 2; */
}

.footer {
    pointer-events: none;
}

.signature {
    position: fixed;
    bottom: 0;
    text-align: center;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    border: thick dotted transparent;
}
.signature.s-right {
    right: 0;
    font-size: 57px;
    color: rgba(0, 0, 0, 0.37);
    width: 50%;
    padding: 10px 17px;
    text-align: right;
}
.signature.s-left {
    font-size: 44px;
    color: rgba(0, 0, 0, 0.37);
    padding: 17px 30px;
    width: 50%;
    text-align: left;
}

.window {
    /* background: url('background.png'); */
    background-image: url('background.png'), url('https://image.ibb.co/f1RAXF/background.png');
    height: 100%;
}

.top-bottom {
    /*grid-template-rows: 50% 10px auto;*/
    grid-template-areas: "first" "seperator" "last";
}

.left-right {
    /*grid-template-columns: 50% 10px auto;*/
    grid-template-areas: "first seperator last";
}

.first {
    grid-area: first;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    font-family: Calibri;
    background: url('https://i.stack.imgur.com/GKpHa.png');
    background: url('https://image.ibb.co/f1RAXF/background.png');
}
.last {
    background-color: rgb(57, 57, 57);
}
.last {
    grid-area: last;
    position: relative;
    overflow: hidden;
    overflow-y:  auto;
}

.separator {
    background: white;
}

.top-bottom > .separator {
    cursor: row-resize;
}
.left-right > .separator {
    cursor: col-resize;
    z-index: 2;
}
